body {
    background-color: teal;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: steelblue;
    color: whitesmoke;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: 2px solid white;
    border-radius: 3px;
    height: 2.5rem;
}

button:hover {

background-color: whitesmoke;
color: steelblue;
}

h3 {
    border-top:  2px solid white;
    border-bottom:  2px solid white;
    color: wheat;
}


span {
    color: tomato;
    font-size: 2rem;
}